html,
body {
    height: 100%;
    background-image: url('https://wallpapercave.com/wp/wp4294203.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}


#chat-container {
    height: 100vh;
    max-height: 800px;
    width: 100vw;
    max-width: 800px;
    margin: 0 auto;
    overflow-y: scroll;
    border-radius: 11px;
    background: #e0e0e0;
    box-shadow: 20px 20px 24px #bcbcbc,
        -20px -20px 24px #ffffff;
}

#chat-container::-webkit-scrollbar {
    width: 0px;
    /* Safari and Chrome */
}

@media only screen and (max-width: 900px) {
    #chat-container {
        width: 100%;
        height: 400px;
    }
}



#container1 {
    width: 80%;
    height: 80%;
    margin: 0 auto;
}

.input1 {
    border-radius: 18px;
    background: #e0e0e0;
    box-shadow: 5px 5px 7px #cacaca,
        -5px -5px 7px #f6f6f6;
}

#title1 {
    opacity: 0.8;
    border-radius: 60px;
    position: absolute;
    top: 1%;
    left: 48%;
    width: 5%;
}
@media only screen and (max-width: 900px) {
    #title1 {
        opacity: 0.8;
        border-radius: 60px;
        position: absolute;
        top: 1%;
        left: 45%;
        width: 15%;
    }
}
#userM {
    display: flex;
    flex-direction: column;
}

.user-message {
    align-self: flex-end;
    right: 0;
    border-radius: 18px;
    background: #e0e0e0;
    box-shadow: 5px 5px 7px #cacaca,
        -5px -5px 7px #f6f6f6;
    color: black;
    padding: 10px;
    max-width: 80%;
    text-align: right;
    align-self: flex-end;
    margin: 10px;
    display: inline-block;
}


.bot-message {
    border-radius: 18px;
    background: #e0e0e0;
    box-shadow: 5px 5px 7px #cacaca,
        -5px -5px 7px #f6f6f6;
    color: black;
    padding: 10px;
    max-width: 80%;
    text-align: left;
    align-self: flex-start;
    margin: 10px;
    display: inline-block;
}
