html,
body {
    height: 100%;
    /* max-height: 600px; */
    width: 1px;
    background-color: hsla(200, 40%, 30%, .4);
    background-image:
        url('https://78.media.tumblr.com/cae86e76225a25b17332dfc9cf8b1121/tumblr_p7n8kqHMuD1uy4lhuo1_540.png'),
        url('https://78.media.tumblr.com/66445d34fe560351d474af69ef3f2fb0/tumblr_p7n908E1Jb1uy4lhuo1_1280.png'),
        url('https://78.media.tumblr.com/8cd0a12b7d9d5ba2c7d26f42c25de99f/tumblr_p7n8kqHMuD1uy4lhuo2_1280.png'),
        url('https://78.media.tumblr.com/5ecb41b654f4e8878f59445b948ede50/tumblr_p7n8on19cV1uy4lhuo1_1280.png'),
        url('https://78.media.tumblr.com/28bd9a2522fbf8981d680317ccbf4282/tumblr_p7n8kqHMuD1uy4lhuo3_1280.png');
    background-repeat: repeat-x;
    background-position:
        0 200%,
        0 100%,
        0 50%,
        0 100%,
        0 0;
    background-size:
        1500px,
        800px,
        500px 200px,
        1000px,
        400px 260px;
    animation: 50s para infinite linear;
}

@keyframes para {
    100% {
        background-position:
            -5000px 20%,
            -800px 95%,
            500px 50%,
            1000px 100%,
            400px 0;
    }
}

#chat-container {
    height: 100vh;
    max-height: 800px;
    width: 100vw;
    max-width: 800px;
    margin: 5px;
    overflow-y: scroll;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 10px;
}

#chat-container::-webkit-scrollbar {
    width: 0px;
    /* Safari and Chrome */
}

@media only screen and (max-width: 600px) {
    #chat-container {
        width: 100%;
    }
}

#message-form {
    width: 80vw;
    max-width: 800px;
    margin-top: 5px;
}

#container1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

#title1 {
    font-family: 'Calligraffitti', cursive;
    font-weight: 700;
    font-size: 2rem;
    position: absolute;
    text-shadow: -15px 5px 20px #ced0d3;
    top: 4%;
    left: 45%;
    transform: translate(-40%, -50%);
    letter-spacing: 0.02em;
    text-align: center;
    color: #D4EFDF;
    text-shadow: 2px 2px 0px #A9DFBF ,
        4px 4px 0px #52BE80,
        6px 6px 0px #27AE60 ,
        8px 8px 0px #1E8449 ,
        10px 10px 0px #196F3D ,
        12px 12px 0px #145A32 ;
}

#userM {
    display: flex;
    flex-direction: column;
}

.user-message {
    align-self: flex-end;
    right: 0;
    background-color: #DCF8C6;
    color: #000;
    border-radius: 10px;
    padding: 10px;
    max-width: 80%;
    text-align: right;
    align-self: flex-end;
    margin: 10px;
    display: inline-block;
}


.bot-message {
    background-color: #F5F5F5;
    color: #000;
    border-radius: 10px;
    padding: 10px;
    max-width: 80%;
    text-align: left;
    align-self: flex-start;
    margin: 10px;
    display: inline-block;
}